@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
.mreclibrary {
    font-size: 30px;
    font-family: montserrat;
    text-transform: uppercase;
    font-weight:700;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-right: 15px;
  text-transform: uppercase;
}

.button-4:hover {
  background-color: #8fa6d4;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;   
    margin-top: 35px;
}
.search {
    margin-left: 15px;
}

input {
    height: 35px;
    width: 300px;
    padding-left: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    border: 1px solid rgb(138, 138, 138);
    margin-right: 10px;
    outline:none;
    font-weight:lighter;
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}
input::placeholder {
    font-size: 14px;
    color:#959DA5;
}   

.search-btn {
    height: 35px;
    border-radius: 5px;
    width: 80px;    
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(27, 31, 35, 0.15);
}

.search-btn:focus { 
    outline: 1px transparent;   
    background-color: #8fa6d4;
}
.search-btn:hover {
    background-color: #8fa6d4;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
.search-btn:disabled {
    background-color: #8fa6d4;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}
  
.search-btn:active {
    background-color: #8fa6d4;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: 0s;
}
  

.search-btn:before {
    display: none;
}

.search-btn:-webkit-details-marker {
    display: none;
}